apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
type: Opaque
stringData:
  database_url: "postgres://{{ item.user }}:{{ item.password }}@postgres.platform.svc.cluster.local:5432/vroom?sslmode=disable"
  password: "{{ item.password }}"
